[submodule "Code/External/EASTL"]
	path = Code/External/EASTL
	url = https://github.com/electronicarts/EASTL
[submodule "Code/External/stb"]
	path = Code/External/stb
	url = https://github.com/nothings/stb
[submodule "Code/External/flags"]
	path = Code/External/flags
	url = https://github.com/sailormoon/flags
